{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container">

        <center><h3> <span style="color:blue">Editor Cooperativo de Historias</h3></center> <br> <br>
        <center><p> Junte amigos, cadastre a sua historia e elabore-a de forma cooperativa. </p></center> <br> <br>
        <center><p> <span style="color:red"> <strong>Não esqueca de seguir as regras</strong></p></center> <br> <br> 
        <center><img  height="20%" width="20%" border="0" src="{% static 'img/bau de historias v1.png' %}"/></center>
        
  	
  	

    </div>

{% endblock %}
