{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>LAE - Learning Analytics Expert</title>

	<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.js' %}"></script>

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Grupo 2 - Editor Cooperativo  </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="../inicio/">Home</a></li>   
        <li><a href="../admin/">Admin  </a></li>
        <li><a  href="../prim_paragraf/">Prim.Contrib  </a></li> 
        <li><a href="../proxparte/">Prox.Contrib  </a></li> 
 <!--   <li><a href="../prim_paragraf/">Prox.Contrib  </a></li> -->
        <li><a href="../regras/">Regras</a></li>  
      </ul>
    </div>
  </div>
</nav>

