{% load staticfiles %}

{% include "header_inicio.html" %} 

<div class="container">
	
  	 <h5> Entre com o codigo da historia para cadastrar a sua contribuicao:</h5>   <br>    
  	 <form role="form">
    		<div class="form-group">
      			<label for="p"> Codigo Historia :</label>
      			<input type="char" class="form-control" id="p">
    		</div>
  	 
  	 
  	 </form>    
 
 	
 	 <table class="table">
    	<thead>
      		<tr>
       	 		<th>Codigo Historia</th>
        		<th>Titulo Historia</th>
     		 </tr>
    	</thead>
   		 <tbody>
    		
    		<tr>
 		
						<td>{{historias.cod_hist}}</td>
						<td>{{historias.tit_hist}}</td>
				
											
			<tr>		
	 
     	 </tbody>
  	</table>

  <p><span style="color:red">Escritor entre com a sua contribuicao <span class="glyphicon glyphicon-pencil"></span></p>    
   <br> <br>
  
 
  
 
  <form role="form">
    <div class="form-group">
      <label for="priparag">Proxima Contribuicao:</label>
      <input type="priparag" class="form-control" id="priparag" placeholder="Digite a sua contribuicao">
    </div>
    
    <button type="submit" class="btn btn-default"><span style="color:red">Gravar</button>
  </form>
</div>


</body>
</html>

