{% load staticfiles %}

{% include "header_inicio.html" %} 

<script>
	$( document ).ready(function() {
	    $("#botao-carregar").click(function () { 
    		var idHistoria= $("#idHistoria").val();
    		var idEscritor= $("#idEscritor").val();
    		var idParte = $("#idParte").val(); 
      		$("#resultado").attr('src', '.././admin/ahcoop/partes/' + idParte + '#parte_form');
		});
	})
</script>

<div class="container">
	
  	 <h5> Entre com o codigo da historia,codigo do escritor e codigo da parte para cadastrar a sua contribuicao:</h5>   
  	 <div>
    		<div class="form-group">
      			<label> Codigo Historia:</label> <br>
      			<span class="col-md-1">
      				<input type="char" class="form-control" id="idHistoria">
  				</span>
  				<label> Codigo Escritor:</label> <br>
      			<span class="col-md-1">
      				<input type="char" class="form-control" id="idEscritor">
  				</span>
  				<label> Codigo Parte:</label> <br>
  				<span class="col-md-1">
      				<input type="char" class="form-control" id="idParte">
  				</span>
  				<button id="botao-carregar" class="btn btn-primary btn-md">Carregar </button>
    		</div>
    		<div class="form-footer">
    		 
  	 </div>
  	 
</div>    
	
<iframe src="" width="100%" height="430px" frameborder="0" name="resultado" id="resultado"> </iframe>

</body>
</html>

