{% load staticfiles %}

{% include "header_inicio.html" %} 


 <div class="container">
  <h2>Regras</h2> <br>  
  <h5> As regras abaixo devem ser seguidas pelos escritores :</h5>   <br>         
  <table class="table">
    <thead>
      <tr class="active">
    
        <th> <span style="color:red"> <strong>Numero</strong></th>
        <th><span style="color:red"> <strong>Regra</strong></th>
      </tr>
    </thead>
    <tbody>
    	<tr>
 
			{% for p in regras %} 
				<tr>		  
					<td><span style="color:blue">{{p.cod_regra}}</td>
					<td><span style="color:blue">{{p.desc_regra}}</td>
				</tr>
			{% endfor %}								
		<tr>		
	 
     </tbody>
  </table>
</div>
</body>
</html>

			
